/* style.css */

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}

deck {
   display:block;
    width: 100%;
    height: 100%;   
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}

deck > * {

    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;

}

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center;    
}

slide:nth-child(2) {
    left: 0%;
    animation-delay: 2s;
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center;    
}
slide:nth-child(3) {
    left: 0%;
    animation-delay: 2s;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: center;    
}

slide:nth-child(4) {
    left: 0%;
    animation-delay: 2s;
    background-image: url(../img/4.jpg);
    background-size: cover;
    background-position: center;    
}

slide:nth-child(5) {
    left: 0%;
    animation-delay: 2s;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: center;    
}



slide > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size:70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top:340px;
    color:white;
}

@keyframes slide {
    0% { left: 100%;}
    5% { left: 0%;}
    25% { left: 0%;}
    30% {  left: -100%;  width: 100%;}

}


