h2, h3 {
    display: inline-block;
    margin-left: 0 0.5rem;
    font-size: 8vw;
    
    font-family: "Sofia", sans-serif;
    padding-top:5%;




  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    color:#eeff44;
    

    font-weight:bold;
    opacity:1.0;
  }
h3 {
  font-size: 7vw;


}
.container2 {
  background: url(https://lh5.googleusercontent.com/proxy/owBXi3UucltQJdWdxVaQoTFrucn8LHjX5pdHnY7SUiFuSLbJjPNpR1fPMLbBtcXAkHgDr6q_plWhGAcODuD1oVlKLcKxsKM3Vu4qY19RbZ7fal67zzaLfxm5yy3U3yjuzXlp_LbjVy38bnouxBjhEOm-612Ady1cIS2a4t1M23c5SYURVDC6_A8Xj3Kk1fYxpQR3hxYetO-6Qj5V6Iw11MAC2G2a2jJrC-udOUG9YG-GBXYAXEOotliE0xoQk0zwly3n5B8=s1920-w1920-h1080-fcrop64=1,00000000ffffda2d-k-no-nd-mv);
  background-blend-mode:lighten;
  height: 1000px;
  opacity:0.9;
}

midi-visualizer[type=piano-roll] {
  background:#6c6779;
  border: 2px solid black;
  border-top: none;
  border-radius: 0 0 10px 10px;
  margin: 4px;
  margin-top: 10;
  overflow: auto;
  color:white;
}

midi-visualizer[type=staff] {
  background: white;
  border: 2px solid black;
  border-top: none;
  border-radius: 0 0 10px 10px;
  margin: 4px;
  margin-top: 10;
  overflow: auto;
}