body {
    background-color: ivory;
    margin-top:35px;
}
#wrapper {
    position:relative;
    width:300px;
    height:150px;
}
canvas {
    border:1px solid red;
}
#tip {
    background-color:white;
    border:1px solid blue;
    position:absolute;
    left:-200px;
    top:100px;
}
