/* app.css */
#container {
    position:relative;
    width: 500px;
    padding-left: 10px;;
  }
  #sketchpad {
    border: 2px solid gray;
  }
  #thumbnail {
    border: 1px solid #077;
  }
  #result {
    font-size: 128pt;
    float: right;
    width: 120px;
    height: 280px;
    border: 5px solid #fff;
    text-align: center;
    line-height: 280px;
  }
  