label {
    font-size: 2rem;
    position: absolute;
    top: 2px;
    right: 3px;
    z-index: 5;
    cursor: pointer;
    background-color: steelblue;
    border-radius: 10px;
  }
  
  input[type=checkbox] {
     position: absolute;
     top: -100px;
  }
  
  aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: 0.3s all ease-out;
    background-color: #efefef;
    padding: 1rem;
  }
  
  aside p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  aside a {
    color: #666;
  }
  
  /* Toggled State of information box */
  input[type=checkbox]:checked ~ aside {
    transform: translateX(0);
  }