body {
  font-family: Helvetica Neue,sans-serif;
}

video {
  max-width: 100%;
  /*  max-width to set a preferred size and a maximum size for the video. 
     The browser will calculate the height automatically:
  */
  width: 600px;

  /* filter: blur(4px) invert(1) opacity(0.8); */
  /* filter: hue-rotate(180deg) saturate(200%); */
}



