/* 
app.css

based on the work by google polymer team

modifications: mohan chinnappan
*/

div.md > ul > li {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border-bottom: 1px solid #ddd; 
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}


.success { color: #1e8e3e; } 
.error { color: red; }


google-codelab #codelab-title {
background: steelblue;
color:white;
font-weight:bold;
text-transform:uppercase;

}

google-codelab-step {

background:#efefef;

}

#previous-step {
  text-transform:uppercase;
  background-color: #ffc107;
  color:white;
}

#next-step {
  text-transform:uppercase;
}


#done {
   text-transform:uppercase;
} 



