img {
    border-radius: 20px;
    align-content: center;
    color: transparent;
  }

  .slide {
    margin-top:30px;
    border: 10px gray;
    border-radius: 4px;
    height: 750px;
  }
  h3, h4 {
    padding-left: 30px;
    padding-top: 30px;
  }
  h3 {
      font-size:30px;
      margin-top:30px;
  }
   h4 {
    padding-left: 10px;
    padding-top: 10px;
  }

  .tocactive {
    border-left: 4px solid steelblue;
  }

  .largelist {
      font-size: 25px;
      padding:20px;
      margin:30px;
      border-radius: 10px;
  }
  .mediumlist {
    font-size: 20px;
    padding:20px;
    margin:30px;
}

  .code {
      background-color: black;
      border-radius: 10px;
      color:white;
      font-family: Monaco, Arial, Helvetica, sans-serif;
      opacity: .8;
  }


  .tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px; 
    height: 30px;
    font-size: 16px;
}

