
/* 

app.css


*/
.box-header {
    float:left; 
}

.cap-it {
    text-transform: uppercase;
}

/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

h4 {
    visibility:hidden;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}
.top-margin-40 {
    margin-top:80px;
}

.underline {
    border-bottom: 1px solid turquoise;
}

/* sticky footer */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }


  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  .code-ta {
      background-color: black;
      color: whitesmoke;
      font-family: Monaco, Arial, Helvetica, sans-serif;
      font-size: 13px;
  }




